.row:after {
  content: "";
  display: table;
  clear: both;
}

.div2{
  font-family:serif;
}
body{
	background-color:#D8DA3D;
	color:#80007E;
}

.div1{
  font-family:serif;
  float: left;
  width: 220px;
  padding: 50px;
}
hr{
	 border-top: 1px dashed #80007E;
	 
}

h1{
	font-family:sans-serif;
}

ul{
	list-style-type: none;
	border: 1px;
}

ul li{
	background-color:white;
	padding:4px;
	margin:7px;
	border-right:20px solid black;
}